
$fontSize: 19px;
$linkColor: rgb(219, 87, 11);
$colorText: rgb(83, 81, 81);

.titleSection {
    font-size: $fontSize + 10px;
    color: rgb(20, 8, 8);
}

#mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    #about {
        width: 90%;
        margin-top: 5%;

        .contentAbout {
            font-size: $fontSize;
            margin: 3px 0;
            min-height: 40px;
            display: flex;
            align-items: center;
            color: $colorText;

            span .customLink:hover {
                line-height: 0;
            }
        }
    }
    .customLink {
        text-decoration: none;
        color: $linkColor;
        font-size: $fontSize + 1px;
        transition: all 200ms ease;transition: all 200ms ease;
        display: inline;

        &:hover {
            font-size: $fontSize + 4px;
            color: lighten($linkColor, 10%);
            transform: scale(1.1);
        }
        &:active {
            color: darken($linkColor, 10%);
        }
    }

    #projects {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 4%;

        #projectsWrapper {
            display: flex;
            justify-content: space-around;
            width: 100%;
            flex-wrap: wrap;
            margin-top: 3%;


            .projectWrapper {
                min-width: 300px;
                width: 28%;
                margin: 0 5% 5% 0;
            }
        }
    }
}
