
<navbar></navbar>
<div id="mainWrapper">
    <div id="about">
      <div class="titleSection">{{contentService.getContent()?.about.title}}</div>
      <div class="contentAbout">
        <span>
          {{contentService.getContent()?.about.content1}}
          <a class="customLink" href="https://boonagency.ie/" [style.margin-left]="'4px'">BoonAgency</a>
        </span>
      </div>
      <div class="contentAbout">
        <a class="customLink" href="{{contentService.getContent()?.cv}}">{{contentService.getContent()?.about.content2}}</a>
      </div>
    </div>

    <div id="projects">
      <div class="titleSection">Projects</div>
      <div id="projectsWrapper">
        <div class="projectWrapper" *ngFor="let project of contentService.getContent().projects">
          
          <project [project]="project"></project>
        </div>
      </div>
    </div>
  
      
</div>
